@model BattleShits.Models.DatabaseMethods
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.2/signalr.min.js"></script>
    <script src="/game.js"></script>
}
<div style="font-size: 30px;">Du har 60 sekunder på dig att skjuta varje gång</div>
<div id="timer" style="font-size: 20px; color: red;">Tid kvar: 60 sekunder</div>
<div id="message" style="margin-top: 10px; font-size: 18px;"></div>
<div id="game-info" data-game-id="@ViewBag.gameId"></div>

@{
    ViewData["Title"] = "SeaBattle2";
}
<p>Spelare 2's stridsvy!</p>
<p>@ViewBag.message</p>


<h3>Ditt bräde</h3>
<table>
    @for (int i = 0; i < ViewBag.p2Board.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.p2Board.GetLength(1); j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (ViewBag.p2Board[j, i] == 3)
                    {
                        <span>💧</span>
                        // Miss
                    }

                    else if (ViewBag.p2Board[j, i] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else if (ViewBag.p2Board[j, i] == 1)
                    {
                        <span>🚢</span>
                        // Skepp
                    }
                    else if (ViewBag.p2Board[j, i] == 4)
                    {
                        <span>🔴</span>
                        // Sänkt skepp
                    }
                    else
                    {
                        <span>🌊</span>
                        // Vatten
                    }
                </td>
            }
        </tr>
    }
</table>

<h3>Här skjuter du!</h3>
<table>
    @for (int i = 0; i < ViewBag.p1Board.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.p1Board.GetLength(1); j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (ViewBag.p1Board[j, i] == 3)
                    {
                        <span>💧</span>
                        // Vatten
                    }

                    else if (ViewBag.p1Board[j, i] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else if (ViewBag.p1Board[j, i] == 1)
                    {
                        <span>🌊</span>
                        // Miss
                    }
                    else if (ViewBag.p1Board[j, i] == 4)
                    {
                        <span>🔴</span>
                        // Sänkt skepp
                    }
                    else
                    {
                        <span>🌊</span>
                        // Skepp
                    }
                </td>
            }
        </tr>
    }
</table>

@if (ViewBag.gameOver == false)
{
    @if (ViewBag.nextPlayer == 2)
    {
        <form method="post" asp-action="Fire" onsubmit="return playerShot()">
            <input type="hidden" name="playerNumber" value="2" />
            <input type="hidden" name="gameNumber" value="@ViewBag.gameId" />
            <input type="hidden" name="boardString" value="@ViewBag.p1BoardJson" />
            <label for="x">Koordinat x:</label>
            <input type="number" id="x" name="x" min="0" max="9" />
            <label for="y">Koordinat Y:</label>
            <input type="number" id="y" name="y" min="0" max="9" />
            <button type="submit">Skjut</button>
        </form>
    }
    else
    {
        <p>Spelare 1 ej ännu färdig</p>
        <div style="text-align: center; margin-top: 20px;">


            <a asp-action="SeaBattle2" asp-controller="BattleField2"
               asp-route-gameId="@ViewBag.gameId"
               asp-route-message=""
               class="btn btn-primary">Uppdatera</a>


        </div>
    }
}
else
{
    <p>Game Over!</p>
}

